body {
  text-align: center;
  color: black;
}

.hidden {
  display: none;
}

#wartext {
  font-weight: bold;
  font-size: 10em;
  text-shadow: 0 0 15px rgb(255,0,0), 0 0 15px rgb(255,0,0), 0 0 15px rgb(255,0,0);
}

#blueCard-card,
#redCard-card {
  position: absolute;
  top: 2em;
}

#blueCard-card {
  left: 30px;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
}

#redCard-card {
  right: 30px;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}

#battle-result {
  margin-bottom: 1em;
  font-size: 2.5em;
  #redCard-name {
    color: red;
    text-shadow: 1px 1px 2px rgba(20,20,20,1);
    font-weight: bold;
  }
  #blueCard-name {
    color: blue;
    text-shadow: 1px 1px 2px rgba(20,20,20,1);
    font-weight: bold;
  }
}