{{#each this}}
  <div class="modal-row row" id="{{@key}}">
    <div class="col-xs-6 col-sm-4">
      <span class="resume-width">Red score: <span class="redtext">{{redScore}}</span></span>
    </div>
    <div class="col-xs-6 col-sm-5">
      <span class="resume-width">Blue score: <span class="bluetext">{{blueScore}}</span></span>
    </div>
    <div class="col-sm-3">
      <button class="resume" data-dismiss="modal">Resume</button>
    </div>
  </div>
{{/each}}