{{#each this}}
  <div class="modal-row" id="{{@key}}">
    <span class="left-spacing"></span>
    <span class="resume-width">Red score: <span class="redtext">{{redScore}}</span></span>
    <span class="resume-width">Blue score: <span class="bluetext">{{blueScore}}</span></span>
    <button class="btn btn-success resume">Resume</button>
  </div>
{{/each}}